extends: default.liquid

---

<div class="center-block body-container jumbotron text-center">
  <h1>Hello, I'm Benny,</h1>
  <b>a rubyist based in Innsbruck, with knowledge about TDD, BDD, OOP, Functional Programming, Unix and more awesomeness.</b>
</div>
