html {
    background: url('/images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background: transparent;
}

body:before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 100;
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

nav.navbar {
    border-radius: 0px;
}


.body-container {
    margin-top: 100px;
    width: 700px;

    box-shadow: 1px 1px 20px #555;
    border-radius: 2px;
}

.body-container h1 {
    font-size: 35px;
}

.body-container ul {
    list-style-type: none;
}

.body-container ul li {
    font-size: 20px;
}

.social li {
    height: 32px;
}

.social a {
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    padding: 0px !important;
    margin-top: 15px;
    margin-left: 10px;
}

.social li:first-child {
    margin-left: 25px;
}

.twitter {
    background: url(/images/twitter.png);
}

.linkedin {
    background: url(/images/linkedin.png);
}

.github {
    background: url(/images/github.png);
}

.gplus {
    background: url(/images/gplus.png);
}

.skills li {
    float: left;
    margin-right: 55px;
    margin-top: 40px;
}

.skills li:last-child {
    margin-right: 0px;
}

.skills li a {
    display: block;
    text-indent: -9999px;
    background-repeat: no-repeat;
    height: 64px;
    width: 64px;
}

.html5 {
    background: url(/images/html5.png);
}

.css3 {
    background: url(/images/css3.png);
}

.php {
    background: url(/images/prog-php.png);
}

.ruby {
    background: url(/images/prog-ruby.png);
}

.js {
    background: url(/images/prog-js.png);
}

.symfony {
    background: url(/images/prog-symfony.png);
}

.rails {
    background: url(/images/prog-rails.png);
}

.cpp {
    background: url(/images/cpp.png);
}

.rust {
    background: url(/images/rust.png);
}

.clang {
    background: url(/images/c.png);
}

.erlang {
    background: url(/images/erlang.png);
}

.clojure {
    background: url(/images/clojure.png);
}

.lotus {
    background: url(/images/lotus.png);
}

.rom {
    background: url(/images/rom.png);
}

.angular {
    background: url(/images/angularjs.png);
}

.haskell {
    background: url(/images/prog-haskell.png);
}

.backbone {
    background: url(/images/backbone.png);
}
