extends: default.liquid

---

<div class="center-block body-container jumbotron text-center">
  <h3>Learning Roadmap</h3>
  <ul class="skills" style="text-align:center;">
    <li><a href="https://www.rust-lang.org" class="rust mytooltip" title="Rust">Rust</a></li>
    <li><a href="https://www.ruby-lang.org" class="ruby mytooltip" title="You never stop learning ruby :P">Ruby</a></li>
    <li><a href="https://www.haskell.org" class="haskell mytooltip" title="Haskell">Haskell</a></li>
    <li><a href="http://coffeescript.org/" class="coffee mytooltip" title="CoffeeScript">CoffeeScript</a></li>
    <li><a href="http://rom-rb.org/" class="rom mytooltip" title="ROM">ROM</a></li>
  </ul>
  <div style="clear:both;"></div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    Tipped.create('.mytooltip');
  });
</script>
